.cards {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 36px;
}

.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.content {
  padding: 50px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.error-message {
  margin: 20px 0;
}

@media (max-width: 1010px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
